version: '3.4'

services:
  jenkins:
    build: 
      context: .
    container_name: jenkins-local
    ports:
      - "8880:8080"
      - "50000:50000"
    volumes:
      - /home/panda/jenkins:/var/jenkins_home
      - /home/panda/
